<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="bg-light min-vh-100">
  <%- include('./partials/navbar') %>
  <div class="container col-md-8 col-xl-6">
    <div class="py-5">
      <div class="alert alert-success">
        <h4>Blog</h4>
        <p>total posts: <%= data.posts.length %></p>
        <div class="d-flex align-items-center gap-1">
          <a href="/dashboard/posts" class="btn btn-success">all posts</a>
          <a href="/dashboard/posts/create" class="btn btn-primary ">create new post</a>
        </div>
      </div>
      <div class="alert alert-warning">
        <h4>Categories</h4>
        <p>total categories: <%= data.posts.length %></p>
        <div class="d-flex align-items-center gap-1">
          <a href="/dashboard/categories" class="btn btn-warning">all categories</a>
          <a href="/dashboard/categories/create" class="btn btn-primary ">create new category</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>