<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body class="bg-light min-vh-100 d-flex flex-column align-items-center justify-content-center">

  <h1><%= status %></h1>
  <h3><%= text %></h3>

</body>

</html>