<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head') %>

</head>

<body class="bg-light min-vh-100">
  <%- include('../partials/navbar') %>
  <div class="container col-md-8 col-xl-6">
    <div class="py-5">
      <div class="d-flex justify-content-between align-items-center">
        <h4>Create New Post</h4>
      </div>
      <%- include('../partials/post-form', {post: data.post, categories: data.categories, path: `/dashboard/posts/create/`, errors}) %>
    </div>
  </div>


</body>

</html>