<nav class="navbar navbar-expand-lg">
  <div class="container col-md-8 col-xl-6">
    <a class="navbar-brand fw-bold" href="/">NBlog</a>

    <a href="/dashboard" class="btn btn-warning">Dashboard</a>
  </div>
</nav>