<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= title %></h4>
    <p class="card-text"><%= description %></p>
    <a href="<%= path %>" class="card-link">read more</a>
  </div>
</div>
