<div class="card bg-transparent border-0 p-0">
  <div class="card-body">
    <h4 class="card-title">
      <a href="<%= path %>" class="card-title text-decoration-none"><%= title %></a>
    </h4>
    <p class="card-text"><%= description %></p>
    <a href="<%= path %>" class="card-link">Read more</a>
  </div>
</div>