<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="bg-light">
  <%- include("./partials/navbar") %>
  <div class="container col-md-8 col-xl-6">
    <div class="d-flex flex-column gap-4 py-5">
      <% posts.forEach(post => { %>
      <%- include('./partials/post-card', {title: post.title, description: post.description,
        path: `/${post.slug}`}) %>
      <% }) %>
    </div>
  </div>
</body>

</html>