<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="bg-light">
  <%- include("./partials/navbar") %>
  <div class="container col-md-8 col-xl-6">
    <div class="mt-5">
      <h1 class="h2">Every Important HTTP Status Code Explained</h1>
      <span class="text-muted fs-5">December 12, 2022</span>
      <div class="alert alert-light mt-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi debitis atque natus molestias quas neque, reprehenderit, sequi ipsa saepe quod adipisci voluptas esse amet nesciunt perferendis, iusto praesentium earum cum.
      </div>
    </div>
  </div>
</body>

</html>